.home-wrapper {
  margin: 15% auto;
  width: 80%;
}

.logo-container {
    display: flex;
    flex-direction: column;
    margin: inherit;
    width: 40%;
}

.logo-container, .logo-container-tablet, .logo-container-mobile {
  display: flex;
  flex-direction: column;
  margin: inherit;
  width: 40%;
}

.logo-container-tablet {
  margin: 40% auto;
  width: 60%;
}

.logo-container-mobile {
  margin: 60% auto;
  width: 90%;
}

#background-logo {
  margin: 35% auto 0;
  height: 30%;
  width: 80%;
}

#background-text {
  height: auto;
  width: 100%;
  margin: 25px auto 0 auto;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 50px;
  font-size: 6vmax;
  font-size: 3vmin;
}

.background-text-tablet {
  font-size: 4vmax;
  font-weight: 900;
}

.fade-in-soft {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}



@media (max-width: 960px) {
  .home-wrapper-tablet {
      width: 100%;
  }
  .logo-container-tablet {
      margin: 40% auto;
      width: 100%;
  }
  .background-text-tablet {
      font-size: 4vmax;
      font-weight: 900;
  }
}
@media (max-width: 500px) {
  .logo-container-mobile {
      margin: 60% auto;
  }
}