<mat-toolbar color='primary'>
  
    <a [routerLink]="['/']"><h1>{{ title }}</h1></a>
    <span class='flexExpand'></span>

    <a [routerLink]="['/']">About</a>
    <span class='gapBetween'></span>
    <a [routerLink]="['/']">Gallery</a>
    <span class='gapBetween'></span>
    <a [routerLink]="['/']">DIY Kits</a>
    <span class='gapBetween'></span>
    <a [routerLink]="['/']">Luxury Finished Items</a>
    <span class='gapBetween'></span>
    <a [routerLink]="['/']">Education</a>
  
  </mat-toolbar>