.flexExpand {
    flex: 1 1 auto;
}
.gapBetween {
    margin-right: 5%;
}
.home-logo {
    width: 70px;
    margin-top: 10px;
    margin-right: 15px;
}
.rightGap {
    margin-right: 10%;
}
#test {
    font-size: 23px;
    height: 65px;
}