<!-- Main toolbar for most desktop widths -->
<div class="desktop-view">

  <mat-toolbar color='primary' class='mat-title toolbar-wrapper'>
    <a [routerLink]="['/']">
      <img class="home-logo" src="../../../assets/JA-Makos_Logo.PNG">
    </a>
    <span class='flexExpand'></span>

    <a [routerLink]="['/gallery']">Gallery</a>
    <span class='gapBetween'></span>
    <a [routerLink]="['/About']">About</a>
    <span class='gapBetween'></span>
    <a [routerLink]="['/DIY_Kits']">DIY Kits</a>
    <span class='gapBetween'></span>
    <a [routerLink]="['/Education']">Education</a>
    <span class='gapBetween'></span>
    <a *ngIf="!this._auth.isLoggedIn" [routerLink]="['/register']">Login/Register</a>

    <a *ngIf="this._auth.isLoggedIn" [matMenuTriggerFor]="menu">My Account</a>
    <mat-menu #menu="matMenu">
      <a class="spacing" [routerLink]="['/myAccount']">My Account<br></a>
      <a class="spacing" (click)="logoutUser()">Logout</a>
    </mat-menu>

    <span class='rightGap'></span>
  </mat-toolbar>

</div>

<!-- Secondary drop-down toolbar for mobile devices/lower width platforms -->
<mat-toolbar color='primary' class='dropdown-wrapper'>
  <button id='dropdown-button' mat-icon-button (click)="sideNav.toggle()" color='accent'>
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Logo and link back to Homepage -->
  <a [routerLink]="['/']">
    <img class="home-logo" src="../../../assets/JA-Makos_Logo.PNG">
  </a>
</mat-toolbar>

<mat-sidenav-container class="sidenav-wrapper" [hasBackdrop]='true' autosize>

  <mat-sidenav #sideNav mode='over' class="sidenav-content" autoFocus="false">

    <a [routerLink]="['/gallery']">Gallery</a>
    <a [routerLink]="['/About']">About</a>
    <a [routerLink]="['/DIY_Kits']">DIY Kits</a>
    <a [routerLink]="['/Education']">Education</a>
    <a [routerLink]="['/register']">Login/Register</a>

  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>