<div class="gallery-container fade-in">
    <div class="category-header">
        <h1>Category1 Name</h1>
    </div>
    <div class="category-wrapper">

        <div class="card-wrapper" *ngFor="let cont of content1">
            <div class="card-header">
                <h2>{{cont.name}}</h2>
            </div>
            <div class="card-body">
                <p>{{cont.description}}</p>
            </div>
        </div>

    </div>

    <span class="category-spacing"></span>

    <div class="category-header">
        <h1>Category2 Name</h1>
    </div>
    <div class="category-wrapper">

        <div class="card-wrapper" *ngFor="let conte of content2">
            <div class="card-header">
                <h2>{{conte.name}}</h2>
            </div>
            <div class="card-body">
                <p>{{conte.description}}</p>
            </div>
        </div>

    </div>
</div>