.gallery-container {
    margin: 5%;
    background-color: #313131;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-wrapper {
    text-align: center;
    margin: 30px auto;
    max-width: 450px;
}

@media (max-width: 960px) {
    .card-wrapper {
        max-width: 300px;
    }
  }