<div class="gallery-container fade-in">

    <mat-card class="card-wrapper" *ngFor="let cont of content">
        <mat-card-header>
            <mat-card-title>{{cont.category}}</mat-card-title>
            <mat-card-subtitle>Color: {{cont.color}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{cont.img_link}}" alt="Test image">

        <mat-card-content>
            <p>{{cont.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button>See More</button>
        </mat-card-actions>
    </mat-card>
    
</div>