<div class="row pt-5">
    <!-- div tag that spans 6 columns
    mx auto centers div tag horizontally -->
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <!-- margin bottom set to 0 -->
                <h3 class="mb-0">Login</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="userInfo" class="form">
                    <div class="form-group">
                        <label style="width: 100%">Email
                            <input formControlName="email" type="email" class="form-control rounded-0" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label style="width: 100%">Password
                            <input formControlName="password" type="password" class="form-control rounded-0" required>
                        </label>
                    </div>
                    <button (click)="loginUser()" type="button" class="btn btn-success float-right">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>