.account-container {
    padding: 10px;
    max-width: 500px;
    margin: 50px auto;
    background-color: rgb(56, 56, 56);
}
.account-header {
    text-align: center;
    margin: 20px;
}
.account-body {
    margin: 20px;
}
.account-body a{
    display: block;
    margin: 10px;
}