.account-container {
    border: 1px solid yellow;
    max-width: 500px;
    background-color: rgb(56, 56, 56);
    margin: 50px auto;
}
.account-header {
    text-align: center;
    margin: 20px;

    border: 1px solid blue;
}
.account-body {
    margin: 20px;

    
    border: 1px solid green;
}
.account-body a{
    display: block;
    margin: 10px;
}